header {
    background-color: white;
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 0;
    position: relative;
    border: solid;
    border-radius: 0.3rem;
}

body {
    background-color: rgb(18, 28, 47);
}

.titulo1 {
display: flex;
align-items: center;
font-family: "Russo One", sans-serif;
font-size: 1.5rem;
padding-left: 3rem;


}

.nav-class {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: absolute; 
    bottom: 0;
    right: 0;
}


.nav-class ul {
    list-style-type: none; 
    padding-left: 5rem;  
    display: flex;
}

.nav-class li {
    display: inline;
    padding: 1rem;
}

.nav-class a {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 0.9rem;
    color: black;
    transition: color 0.5s;
}

.nav-class a:hover {
     color: red;
}

hr {
    margin: 1.5em 0;
    text-align: center;
    border: none;
  }
  
  hr:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #eee;
    margin: 0 0.4em;
  }
  
  hr:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #eee;
    margin: 0 0.4em;
  }